Package: xyz.henryli17.pauseonmute
Name: PauseOnMute
Version: 0.0.2
Architecture: iphoneos-arm
Description: Automatically pause/unpause music when you turn you mute/unmute your volume. Configure options in settings app.
Maintainer: Henry Li
Author: Henry Li
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)